body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
.menu {display: block}
.home {
    display: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/header.jpg");
  min-height: 90%;
}
