<!DOCTYPE html>
<html>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Amatic+SC"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top w3-hide-small">
      <div
        class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off"
        id="myNavbar"
      >
        <a href="#" class="w3-bar-item w3-button">REPAS</a>
        <a href="javascript:void(0)" onClick="showIngredient()" class="w3-bar-item w3-button">INGREDIENT</a>
        <a href="#about" class="w3-bar-item w3-button">MENU</a>
      </div>
    </div>

    <!-- Header with image -->
    <header class="bgimg w3-display-container w3-grayscale-min" id="home">
      <img
        src="../../../assets/header.jpg"
        class="w3-image w3-greyscale"
        style="width: 100%"
        id="myMap"
      />
      <div class="w3-display-middle w3-center">
        <span class="w3-text-white w3-hide-small" style="font-size: 100px"
          >NOS MENUS<br />Charlène & Nico</span
        >
        <span
          class="w3-text-white w3-hide-large w3-hide-medium"
          style="font-size: 60px"
          ><b>thin<br />CRUST PIZZA</b></span
        >
      </div>
    </header>

    <app-repas-consultation *ngIf="showRepas"> </app-repas-consultation>

    <app-ingredients-ajout-modif *ngIf="showModal" (onClose)="modalClosed($event)"></app-ingredients-ajout-modif>

    <app-ingredients-consultation *ngIf="showIngredient"></app-ingredients-consultation>

    <!-- Image of location/map -->
    <img
      src="../assets/header.jpg"
      class="w3-image w3-greyscale"
      style="width: 100%"
      id="myMap"
    />

    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-48 w3-xxlarge"></footer>
  </body>
</html>
