<div id="id01" class="w3-modal" style="display: block">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-black w3-display-container">
      <h4>Ajouter un ingrédient</h4>
      <h5>Saisie des données concernant l'ingrédient</h5>
    </header>
    <br />
    <div class="w3-container">
      <form
        class="form-inline"
        id="ajoutModifIngredient"
        [formGroup]="formAjoutModifIngredient"
      >
        <div class="form-group">
          <label>Libellé : </label>
          <input
            [(ngModel)]="ingredient.nomIngredient"
            type="text"
            class="w3-input w3-border"
            id="nomIngredient"
            formControlName="nomIngredient"
          />
        </div>
        <div class="form-group">
          <label>Type d'ingrédient :</label>
          <select
            class="w3-input w3-border"
            id="sel1"
            formControlName="typeIngredient"
          >
            <option
              *ngFor="let item of typeIngredient"
              [value]="item"
            >
              {{ item }}
            </option>
          </select>
        </div>
      </form>
    </div>
    <br />
    <footer class="w3-container w3-white w3-display-container">
      <button (click)="ajouterIngredient()" class="w3-bar-item w3-button w3-black" style="width: 33.3%">
        Valider
      </button>
      <button
        class="w3-bar-item w3-button w3-grey"
        onclick="document.getElementById('id01').style.display='none'"
        style="width: 33.3%; float: right"
      >
        Annuler
      </button>
      <br />
      <br />
    </footer>
  </div>
</div>
